CollectData/package-lock.json
CollectData/__pycache__/
CollectData/package.json
CollectData/node_modules
stations.csv
Database/
Plotslots/
Plots/
not needed Plots/
plots for ppp/
Models/
__pycache__