CollectData/package-lock.json
CollectData/__pycache__/
CollectData/package.json
CollectData/node_modules
stations.csv
Database/
Plotslots/
Plots/
not needed Plots/
plots for ppp/
Models/
__pycache__
.vscode/settings.json
test.py
weather_lstm_keras.py
CollectData/db_con.py
CollectData/DBcollecting.py
CollectData/DBtesting.py
CollectData/get_Weather_data.py
CollectData/test.js
